Jeu/__pycache__/*.pyc
Jeu/__pycache__/joueurxD.cpython-39.pyc
Collide Plateforme/__pycache__/Player.cpython-39.pyc
Collide Plateforme/__pycache__/platform.cpython-39.pyc
Jeu/Menu/__pycache__/button.cpython-39.pyc
